body{
   background-color: rgb(103, 207, 219); 
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    position: relative;
    margin: auto;
    text-align: center;
}

p {
    font-family: 'Sarabun', sans-serif;
    font-size: 20px;
}

.gameboard{
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
    min-height: 500px;
    width: auto;
    border: 5px solid;
    padding: 20px; 
    
}

#match-card{
    position: absolute;
    /* display: inline-block; */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* width: 10%; */
    /* margin: 20px 450px 10px 840px; */
}
    
.cards {
   position: absolute;
   /* display: inline-block;  */
   /* justify-content: center; */
    /* object-position: bottom; */
   bottom: 225px;
}

#card1 {
    position: absolute;
    right: 300px;
}

#card2 {
    position: absolute;
    /* justify-content: center; */
    
}

#card3 {
    position: absolute;
    left: 300px;
}

button {
    position: absolute;
    margin: 20px;
    height: 50px;
    width: 150px;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    left: 45%;

}