body{
   background-color: rgb(103, 207, 219); 
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    position: relative;
    margin: auto;
    text-align: center;
}

p {
    font-family: 'Sarabun', sans-serif;
    font-size: 20px;
}

.gameboard{
    height: 700px;
    border: 5px solid 
}


button {
    position: absolute;
    margin: 20px;
    height: 50px;
    width: 150px;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    left: 45%;

}